<?xml version="1.0"?>
<!--
SPDX-FileCopyrightText: Alliander N. V.
SPDX-License-Identifier: Apache-2.0
-->
<robot name="seekthermal_module">

  <link name="base_link"/>
  <link name="seekthermal_link">

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.050 0.050"/>
      </geometry>
      <material name="dark_grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.105 0.050 0.050"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.340"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000142" ixy="0.0" ixz="0.0"
                               iyy="0.000384" iyz="0.0"
                                              izz="0.000384"/>
    </inertial>

  </link>

  <joint name="seekthermal_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="seekthermal_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
